@model CategoryFormViewModel
<form data-ajax-method="post" data-ajax-success="showSuccessMessage" data-ajax-failure="showErrorMessage" asp-action="@(Model?.Id > 0 ? "Edit" : "Create")">
    <!-- Fixed action -->
    @if (Model?.Id > 0)
    {
        <input type="hidden" asp-for="Id" />
    }
    <div class="mb-5">
        <div class="form-floating mb-7">
            <input type="text" class="form-control form-control-solid" placeholder="Name" asp-for="Name" />
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-check2"></i>
            Save
        </button>
    </div>
</form>